<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Change agent info</title>
</head>
<body>
	
 
    <h1>
		Change Agent <span
			th:text="${session.agent.name}" /> Info
			</h1>
	
	<h2>Change Password</h2>
	
	<form method="POST" action="changePassword">
		<table>
			<tr>
				<td>Password:</td>
				<td><input type="password" name="password" required="required"
					placeholder="Password" /></td>
			</tr>
			<tr>
				<td>New Password:</td>
				<td><input type="password" name="newPassword"
					required="required" placeholder="New Password" /></td>
			</tr>
			<tr>
				<td><input type="submit" name="updateInfo"
					value="Change Password" /></td>
				<td><input id="btnReset" type="reset" value="Reset" /></td>
			</tr>
			
		</table>
	</form>
	
	<h2>Change Email</h2>
	<form method="POST" action="changeEmail">
		<table>
			<tr>
				<td>Email:</td>
				<td><input type="text" name="email" required="required"
					 th:value="${session.agent.email}" th:placeholder = "${session.agent.email}"/></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" name="updateEmail"
					value="Update email" /></td>
			</tr>
		</table>
	</form>
	
	<h2>Change Name</h2>
	<form method="POST" action="changeName">
		<table>
			<tr>
				<td>Name:</td>
				<td><input type="text" name="nombre" required="required"
					 th:value="${session.agent.name}" th:placeholder = "${session.agent.name}"/></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" name="updateName"
					value="Update name" /></td>
			</tr>
		</table>
	</form>
	<h2>Change Location</h2>
	<form method="POST" action="changeLocation">
		<table>
			<tr>
				<td>Localization:</td>
				<td><input type="text" name="location"
					 th:value="${session.agent.location}" th:placeholder = "${session.agent.location}"/></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" name="updateLocation"
					value="Update location" /></td>
			</tr>
		</table>
	</form>
	
	<h2>Change Kind</h2>
	<form method="POST" action="changeKind">
		<table>
			<tr>
				<td>Kind:</td>
				<td><input type="text" name="kind" required="required"
					 th:value="${session.agent.kind}" th:placeholder = "${session.agent.kind}"/></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" name="updateKind"
					value="Update kind" /></td>
			</tr>
		</table>
	</form>
	<br/>
	<footer>
	<table>
	<tr>
		  	<td><a href="/viewInfo">Agent Info</a></td>
		  	<td><a href="/">Return to portal</a></td>

			</tr>
	</table>
	</footer>
	
	
</body>
</html>